%h1
- form_for(@forum) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :title
    %br
    = f.text_field :title
  %p
    = f.label :description
    %br
    = f.text_field :description
  %p= f.submit "Update"
#{link_to 'Show', @forum} |
=link_to 'Back', forums_path
