<h1>Editing forum</h1>

<% form_for(@forum) do |f| %>
  <%= f.error_messages %>
  <p>
   <%= f.label :name %></br>
   <%= f.text_field :name %>
  </p>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :desctiption %></br>
    <%= f.text_field :desctiption %></br>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @forum %> |
<%= link_to 'Back', forums_path %>
