%h1 포럼
%table
  %thead
    %tr
      %th Title
      %th Description
  %tbody
    - for forum in @forums
      %tr
        %th
          %a{:href => url_for(forum)}= forum.title
        %td&= forum.description
        %td= link_to 'Edit', edit_forum_path(forum)
        %td= link_to 'Destroy', forum, :confirm => 'Are you sure?',                                                    :method => :delete
%br
= link_to 'New forum', new_forum_path
