%h1 New forum
- form_for(@forum) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
    %br
  %p
    = f.label :title
    %br
    = f.text_field :title
    %br
  %p
    = f.label :description
    %br
    = f.text_field :description
    %br
  %p= f.submit "Create"
= link_to 'Back', forums_path
