<p>
  <b>Name:</b>
  <%=h @forum.name %>
  <b>Title:</b>
  <%=h @forum.title %>
  <b>Description:</b>
  <%= h @forum.description %>
</p>


<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
