%h1.forum-title&= @forum.title 
.description&= @forum.description
/ #{link_to 'Edit', edit_forum_path(@forum)} |
/ = link_to 'Back', forums_path
%p
.subjects
  %table
    %thead
      %tr
        %td
        %th.subject 주제
        %th.posts 글수
        %th.recent-post 마지막글
    %tbody
      - for subject in @subjects
        %tr
          %td
          %th= link_to h(subject), [@forum, subject]
          %td.posts
            %span= subject.posts.size
          %td.upated-at.datetime&= subject.updated_at
%a{:href => new_forum_subject_path(@forum)} 글타래 열기
