%h1 내 정보 수정

.register
  - form_for(@person) do |f|
    -unless f.error_messages  
      .error-message-box = f.error_messages
    %fieldset
      = f.label :email, '이메일'
      .email= @person.email
      = f.label :password, '비밀번호'
      = f.password_field :password, :value => ''
      = f.label :name, '이름'
      = f.text_field :name
      = f.label :nick, '닉네임'
      = f.text_field :nick
      = f.label :url, '홈페이지'
      = f.text_field :url
      .functions
        = f.submit "수정하기" 
        = link_to '뒤로가기', @person
