%h1 New Person
- form_for(@person) do |f| 
  = f.error_messages
  %p
    = f.label :email 
    %br
    = f.text_field :email
  %p
    = f.label :password 
    %br
    = f.password_field :password, :value => '' 
  %p
    = f.label :name 
    %br
    = f.text_field :name 
  %p
    = f.label :nick 
    %br
    = f.text_field :nick 
  %p
    = f.label :url 
    %br
    = f.text_field :url 
  %p
    = recaptcha_tags
  %p
    = f.submit "Create" 
= link_to 'Back', people_path 
