%h1 아이디 만들기

.register
  - form_for(@person) do |f| 
    -if not f.error_messages
      .error-message-box
        =f.error_messages
    %fieldset.uer-info
      = f.label :email, '이메일'
      = f.text_field :email
      %p
      = f.label :password, '비밀번호' 
      = f.password_field :password, :value => '' 
      %p
      = f.label :name, '이름'
      = f.text_field :name 
      %p
      = f.label :nick, '닉네임' 
      = f.text_field :nick 
      %p
      = f.label :url, '홈페이지 주소'
      = f.text_field :url 
    %p
    %fieldset.recatcha
      = recaptcha_tags
    .function
      = f.submit "확인"
      = link_to '취소', people_path

