.register
  %h1 New Person
  %p.note Require fields are marked with an asterisk(*)
  - form_for(@person) do |f| 
    -if not f.error_messages
      .error-message-box
        =f.error_messages
    %fieldset
      %legend User Detail
      %dl
        %dt= f.label :email, 'Email *'
        %dd= f.text_field :email

        %dt= f.label :password, 'password *' 
        %dd= f.password_field :password, :value => '' 

        %dt= f.label :name 
        %dd= f.text_field :name 

        %dt= f.label :nick, 'nickname *' 
        %dd= f.text_field :nick 

        %dt= f.label :url 
        %dd= f.text_field :url 

        %dt reCAPTCHA *
        %dd= recaptcha_tags
    = f.submit "Create" 
  = link_to 'Back', people_path 
