%h1 계정 만들기

.register
  - if @validation_ticket
    - form_for(@person) do |f|
      - unless f.error_messages
        .error-message-box= f.error_messages
      %fieldset
        = f.label :email, '이메일'
        = f.text_field :email, :value => @validation_ticket.email, :readonly => true
        = f.label :password, '비밀번호'
        = f.password_field :password, :value => ''
        = f.label :name, '이름'
        = f.text_field :name
        = f.label :nick, '닉네임'
        = f.text_field :nick
        = f.label :url, '홈페이지 주소'
        = f.text_field :url
        = hidden_field_tag 'key', @validation_ticket.key
      %fieldset
        = recaptcha_tags
      .functions
        = f.submit "확인"
  - else
    - form_tag(people_path) do
      %fieldset
        = label_tag 'email', '이메일'
        = text_field_tag 'email'
        .functions
          = submit_tag '계정 만들기'
/          = link_to '취소', forum_path

