%h1 회원정보
.info
  %fieldset
    = gravatar_for @person
    = label :name, '이름'
    = @person.name
    = label :nick, '닉네임'
    = @person.nick
    = label :email, '이메일'
    = link_to_email(@person.email)
    = label :url, '홈페이지'
    = @person.url
    = label :created, '가입일'
    = @person.created_at.strftime('%Y년 %m월 %d일')
    %p
    -if controller.person
      .functions
        = link_to '정보 수정', edit_person_path(@person)
.post
  - unless @person.posts.count.zero?
    %table.posts
      %thead
        %tr
          %th 내용
          %th 날짜
          %th 포럼
          %th 글타래
      %tbody
        - for post in @posts
          %tr
            %th.post-head
              =link_to(post.subject,forum_subject_path(post.forum,post.subject))
              .forums=link_to(post.forum, post.forum)

          %tr.post-body
            %td.body= markdown(post.body)
  - if @total_pages > 1
    %ul.pager
      - pager(@total_pages, @selected_page) do |flag, page|
        - if flag == 'selected'
          %li.selected= page
        - else
          %li{:class => flag.is_a?(String) ? flag : ''}
            %a{:href => "?page=#{page}"}= page
         
            

/= link_to 'Back', people_path 
