%h1= link_to_email(@person.email)

%p= gravatar_for @person
  
%p
  %b Name:
  &= @person.name 


%p
  %b Nick:
  &= @person.nick 


%p
  %b Url:
  &= @person.url 


%p
  %b Created at:
  &= @person.created_at 

- unless @person.posts.count.zero?
  %table.posts
    %thead
      %tr
        %th 내용
        %th 날짜
        %th 포럼
        %th 글타래
    %tbody
      - for post in @person.posts
        %tr
          %td= markdown(post.body)
          %td= post.updated_at
          %td= link_to(post.forum, post.forum)
          %th= link_to(post.subject,forum_subject_path(post.forum,post.subject))
#{link_to 'Edit', edit_person_path(@person)}|
= link_to 'Back', people_path 
