<p>
  <b>Email:</b>
  <%=h @person.email %>
</p>

<p>
  <b>Password hash:</b>
  <%=h @person.password_hash %>
</p>

<p>
  <b>Name:</b>
  <%=h @person.name %>
</p>

<p>
  <b>Nick:</b>
  <%=h @person.nick %>
</p>

<p>
  <b>Url:</b>
  <%=h @person.url %>
</p>

<p>
  <b>Created at:</b>
  <%=h @person.created_at %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
