<p>
  <b>Post:</b>
  <%=h @revision.post %>
</p>

<p>
  <b>Body:</b>
  <%=h @revision.body %>
</p>

<p>
  <b>Created at:</b>
  <%=h @revision.created_at %>
</p>


<%= link_to 'Edit', edit_revision_path(@revision) %> |
<%= link_to 'Back', revisions_path %>
