%p
  %b Post:
  = @revision.post 


%p
  %b Body:
  = @revision.body 


%p
  %b Created at:
  = @revision.created_at 



= link_to 'Edit', edit_revision_path(@revision.forum, @revision.subject, @revision.post, @revision)  |
= link_to 'Back', [@revision.forum, @revision.subject, @revision.post]
