<h1>Editing post_thread</h1>

<% form_for(@post_thread) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :forum_id %><br />
    <%= f.text_field :forum_id %>
  </p>
  <p>
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @post_thread %> |
<%= link_to 'Back', post_threads_path %>
