%h1 새로운 주제열기 
- form_for [@subject.forum, @subject] do |f|
  = f.error_messages
  %p
    = f.label :title
    %br
    = f.text_field :title
    %br
  %p= f.submit "Create"
= link_to 'Back', @subject.forum
