%h1&= @subject.title
.subject
  - for post in @subject.posts
    %li.setBorder_item
      %dl
        %dd.item
          - if post.author?
            %a{:href => new_forum_subject_post_revision_path(@subject.forum, @subject, post)}고치기
          %a{:href => forum_subject_post_path(@subject.forum, @subject ,post)}수정내역
    %li.setBorder_body
      %dl
        %dt.created&= post.created_at
      %dl.info
        %dt.avata 사진
        %dt.nick&= post.person.nick
        %dt.name&= post.person.name
      %dl
        %dd.body= markdown(post.body)
/- if @person_log 
%a{:href=>new_forum_subject_post_path(@subject.forum, @subject)}글타래 추가
