%h1&= @subject.title
.subject
  - for post in @subject.posts
    .setBorder_body
      .info
        .avata 사진
        .nick&= post.person.nick
        .name&= post.person.name
      .content
        .item 
          - if post.author?
            %a{:href => new_forum_subject_post_revision_path(@subject.forum, @subject, post)}Edit
          %b
            |
          %a{:href => forum_subject_post_path(@subject.forum, @subject ,post)}Histroy  
        .body= markdown(post.body)
        %ol.history
          %li&= post.created_at.strftime('작성일 : %m-%d-%Y, %l:%M %p')
          %li&= post.updated_at.strftime('갱신일 : %m-%d-%Y, %l:%M %p')
  .functions
    %a.button{:href=>forum_path(@subject.forum)} 목록으로
    - if @person_log 
      %a.button{:href=>new_forum_subject_post_path(@subject.forum, @subject)}글타래 추가

