%h1&= @subject.title
.subject
  - for post in @subject.posts
    .setBorder_body
      .info
        .avata 사진
        .nick&= post.person.nick
        .name&= post.person.name
      .content
        .item 
          %ul
            - if post.author? @person_log
              %li
                %a{:href => new_forum_subject_post_revision_path(@subject.forum, @subject, post)}Edit
              %li
                %b
                  | 
            - if @person_log
              %li
                %a{:href => forum_subject_post_path(@subject.forum, @subject ,post)}Histroy  
        .body= markdown(post.body)
        %ul.history
          %li&= post.created_at.strftime('%m-%d-%Y, %l:%M %p에 작성하셨습니다.')
          - for revision in post.revisions
            %li&= revision.created_at.strftime('%m-%d-%Y, %l:%M %p에 수정하셨습니다.')
  .functions
    %a.button{:href=>forum_path(@subject.forum)} 목록으로
    - if @person_log 
      %a.button{:href=>new_forum_subject_post_path(@subject.forum, @subject)}글타래 추가
