!!! XML
%feed(xmlns="http://www.w3.org/2005/Atom")
  %id&= polymorphic_url([@subject.forum, @subject]) 
  %title&= @subject
  %updated= @subject.posts.first.updated_at.xmlschema
  %link{:href => polymorphic_url([@subject.forum, @subject])+".xml", 
        :rel => :self} 
  %link{:href => polymorphic_url([@subject.forum, @subject]), 
        :rel => :alternate} 
  - for post in @posts
    %entry
      %id&= polymorphic_url([post.forum, post.subject, post])
      %link{:href => polymorphic_url([post.forum, post.subject, post]),
            :rel => :alternate}
      %author
        %name&= post.person
        %uri&= polymorphic_url(post.person)
      %updated= post.updated_at.xmlschema
      %title&= post.subject.title
      %content(type="html")&= markdown(post.body)

 



