- form_for([@post.forum, @post.subject, @post]) do |f|
  = f.error_messages
  %p
    = f.label :subject_id
    %br
    = f.text_field :subject_id
  %p
    = f.label :person_id
    %br
    = f.text_field :person_id
  %p= f.submit "Update"

#{link_to 'Show', [@post.forum, @post.subject, @post]}|
=link_to 'Back', [@post.forum, @post.subject]
