%h1&= @post.subject.title
%h2 글쓰기
.posts
  - form_for [@post.subject.forum, @post.subject, @post] do |f|
    = f.error_messages
    %fieldset
      %textarea{:id=>"revision_body",:name=>"revision[body]",:cols=>80,:rows=>21}&= blackquote(@quote)
    .function
      %select#converter-selector
        %option(value="preview") Preview
        %option(value="HTML output") HTML output
      = f.submit "작성"
      = link_to '뒤로', [@post.subject.forum, @post.subject]
    %fieldset    
    .output
      %h2 미리보기
