%h1&= @post.subject.title
%h2 글쓰기
.posts
  - form_for [@post.subject.forum, @post.subject, @post] do |f|
    = f.error_messages
    %fieldset
      = f.text_area :body, :cols => 80, :rows => 15
    .function
      %select#converter-selector
        %option(value="preview") Preview
        %option(value="HTML output") HTML output
      = f.submit "Create"
      = link_to 'Back', [@post.subject.forum, @post.subject]
      
  .output
    %h2 미리보기 
