!!! 1.0 Strict
%html(xmlns="http://www.w3.org/1999/xhtml")
  %head
    %meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    %title 제로픈 포럼
    = stylesheet_link_tag 'forum'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js'
    = javascript_include_tag 'forum'
  %body
    %h1.title
      %a(href="/") 제로픈
    %ul.services
      %li.selected= link_to '포럼', forums_path
      %li
        %a(href="#logs") 일간 로그
      %li
        %a(href="#pastes") 코드 조각
      %li
        %a(href="irc://irc.ozinger.org:8080/levdev%2B0pen") IRC
      - if controller.person
        %li
          %a= link_to '내 정보', person_path(controller.person)
      - else
        %li
          %a= link_to '회원 가입', people_path+"/new"
    - if controller.person
      - form_tag({:controller => :session}, :method => :delete, :class => "logout session") do
        %fieldset
          %legend&= controller.person.email
          = submit_tag '로그아웃'
    - else
      - form_tag({:controller => :session}, :method => :put, :class => "login session") do
        %fieldset
          = text_field_tag(:email)
          = password_field_tag(:password)
          = submit_tag '로그인'
    .body
      %p(style="color: green")= flash[:notice]
      = yield
    %p.copyright
      Copyright &copy; 2005 <strong>LevDev</strong>,
      2006&ndash;#{Date.today.year}
      <strong>0PEN</strong>
